<html>
    <head>
        <title>Book Recommendations Demo</title>
        <meta charset="utf-8" />
        <!-- UIkit CSS -->
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='uikit.min.css') }}"
        />

        <!-- UIkit JS -->
        <script src="{{ url_for('static', filename='uikit-icons.js') }}"></script>
        <script src="{{ url_for('static', filename='uikit.min.js') }}"></script>
    </head>
    <body>
        <div style="margin-top: 40px" class="uk-container uk-container-small">
            <h1 class="uk-heading-divider">Book recommendations</h1>
            <form>
                <label for="book-title">Book title</label>
                <input name="search_term" class="uk-input" id="book-title" />
                <label for="book-typ">Recommendation method</label>
                <select name="search_typ" class="uk-select" id="book-typ">
                    <option selected value="corr">Correlation</option>
                    <option value="cos_sim">Cosine similarity</option>
                </select>
                <button
                    class="uk-button uk-button-default uk-margin uk-align-right"
                    hx-post="/rcm"
                    hx-target="#tablehere"
                >
                    Search
                </button>
            </form>
        </div>

        <div class="uk-margin uk-container uk-container-small">
            <div id="tablehere"></div>
        </div>
        <script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
    </body>
</html>
